@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding:0;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
}
#navbar{
    color: #c2a525;
    padding: 1%;
    
}
#navbar ul{
    display: flex;
    margin-left: 10%;
}
#navbar ul li{
    list-style-type: none;
    margin-left: 10%;
}
.hero{
    background-image: url(@/image/bg-image.png);
    width: 100%;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.headerBox{
    border-bottom: 0.232em solid black;
    border-top: 0.233em solid black;
    margin: 1em;
}
.headerBox h1{
    color: white;
    text-align: center;
    letter-spacing: .212em;
    text-transform: uppercase;
    -webkit-text-stroke: .011em black;

}
.header button{
    padding: 0.82em ;
    width: 8em;
    background-color: #c2a525;
    border: none;
    border-radius: 0.524em;
    
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #c2a525;
}

a:hover{
    border-bottom: 2px solid #c2a525;
}

/* product view */
.productView{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: black; */
    height: 100%;
    justify-content: center;
    margin: 2em 0;
}
.productView .productTitle{
    font-style: normal;
font-weight: 400;
/* line-height: 29px; */
color: #c2a525;
/* identical to box height */

letter-spacing: 0.28em;
position: relative;
margin-top: 1em;
height: 2em;
display: flex;
align-items: center;
justify-content: center;
}

.productTitle::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 0.224em;
    background-color: #c2a525;
    top: 0;
}
/* product */
.product{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    /* height: 100vh; */
    margin: 2em;
}

/* product image */
.product .image{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.product .image .imageContent{
    width: 50%;
}

.product .image .imageContent img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* product content */
.product .content{
    width: 70%;
    height: 100%;
    padding: 0 2em;
    margin: 0 2em;
    color: #fff;
}

/* .assessmentView{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.assessment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.assessment .contentImage{
    display: flex;
    margin: 1em;
    justify-content: space-around;
    width: 100%;
}

.assessment .contentImage .image{
    width:4em;
    height:4em;
    border: 2px solid black;
} */

