*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Inter';
}
.features{
    height: 25.753em;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.features>h1{
    text-align: center;
    color: #c2a525;
    padding: 2.7em;
}
h3{
    color: #c2a525;
    padding-top: 3.7em;
}
.grid-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    justify-content: space-around;
}
.griditem1{
    background-color: aqua;
    height: 8.25em;
    width: 9.25em;
    background-image: url("/home/moringa/Desktop/interviewHack/assets/productimages/huawei.png");
}
.griditem2{
    background-color: aqua;
    height: 8.25em;
    width: 9.25em;
}
.griditem3{
    background-color: aqua;
    height: 8.25em;
    width: 9.25em;
}
.griditem4{
    background-color: rgb(59, 125, 156);
    height: 8.25em;
    width: 9.25em;
}
.griditem5{
    background-color: rgb(59, 125, 156);
    height: 8.25em;
    width: 9.25em;
}
.griditem6{
    background-color: rgb(59, 125, 156);
    height: 8.25em;
    width: 9.25em;
}
.popular{
    height: 25.753em;
    background-color: #c2a525;
    margin-top: 30px;
}
.popular>h1{
    text-align: center;
    color:black;
    padding: 2.7em;
}
.grid-container2{
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: space-around;
}
.griditem21{
    background-color: aqua;
    height: 8.25em;
    width: 9.25em;
}
.griditem22{
    background-color: aqua;
    height: 8.25em;
    width: 9.25em;
}
.griditem23{
    background-color: aqua;
    height: 8.25em;
    width: 9.25em;
}
.griditem24{
    background-color: rgb(59, 125, 156);
    height: 8.25em;
    width: 9.25em;
}
.griditem25{
    background-color: rgb(59, 125, 156);
    height: 8.25em;
    width: 9.25em;
}
.griditem26{
    background-color: rgb(59, 125, 156);
    height: 8.25em;
    width: 9.25em;
}