@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding:0;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.product{
    display: flex;
    align-items: center;
    justify-content: space-around;
}