*{
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-family: 'Inter',sans-serif;
}



body{
    font-size: 24px;
    font-family: 'Inter';
}

#navbar{
    color: #c2a525;
    background-color: black;
    
}
#navbar ul{
    display: flex;
    margin-left: 10%;
   
}
#navbar ul li{
    list-style-type: none;
    margin-left: 10%;
    text-decoration:none;
}
.hero{
    background-image: url(../productimages/bg-image.png);
    width: 100%;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.headerBox{
    border-bottom: 0.232em solid black;
    border-top: 0.233em solid black;
    margin: 1em;
}
.headerBox h1{
    color: white;
    text-align: center;
    letter-spacing: .212em;
    text-transform: uppercase;
    -webkit-text-stroke: .011em black;

}
.header button{
    padding: 0.82em ;
    width: 8em;
    background-color: #c2a525;
    border: none;
    border-radius: 0.524em;
    
}


/* Features section starts here */
.aside>.features>.feat::before{
    content: "";
    background-color: #c2a525;
    width: 10em;
    height: 0.5em;
    position: absolute;
    left: 40%;
    margin-top: 20;
    border-radius: 3em;
    align-items: center;
}
.aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features{
    height: 25.753em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 20px;
    align-items: center;
}

.icons {
    opacity: 2;
    display: flex;
    flex-direction: column;
}


.section>.icons i {
    color: black;
    padding: 20px;
    padding-left: 30px;
    justify-content: space-around;
}

.aside>.features.feat>h1{
    text-align: center;
    color: #c2a525;
    padding: 0.5em;
}



h3{
    color: #c2a525;
    padding-top: 3.7em;
}

img {
    transition: o.5s, ease-in;
    border-radius: 25px;
}
img:hover {
    width: 300px;
    height: 220px;
}


.grid-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    justify-content: space-around;
}



.griditem1{
    height: 8.25em;
    width: 15.25em;
}

.griditem2{
    height: 8.25em;
    width: 13.25em;
    object-fit: cover;
}


.griditem3{
    height: 8.25em;
    width: 13.25em;
    object-fit: cover;
}


.griditem4{
    background-color: lightgrey;
    height: 5.25em;
    width: 12.25em;
    color:black;
    overflow: hidden;
    border-radius: 10px;
    font-size: 18px;
    transition: width 0.1s, height 0.1s;
}

.griditem4:hover {
    width: 300px;
    height: 180px;
}


.griditem5{
    background-color: lightgrey;
    height: 5.25em;
    width: 12.25em;
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    transition: width 0.1s, height 0.1s;
}
.griditem5:hover {
    width: 300px;
    height: 180px;
}


.griditem6{
    background-color: lightgrey;
    height: 5.25em;
    width: 12.25em;
    overflow: hidden;
    font-size: 18px;
    border-radius: 10px;
    transition: width 0.1s, height 0.1s;
}
.griditem6:hover {
    width: 300px;
    height: 180px;
}
.section {
    height:500px;
    width: 300px;
    margin-left: 10px;
    background-color: gold;
}


/* Popular section starts here */
.popular{
    height: 25.753em;
    background-color: #c2a525;
    margin-top: 10px;
    border-radius: 20px;
}
.popular > .pop::before{
    content: "";
    background-color: black;
    width: 10em;
    height: 0.5em;
    position: absolute;
    left: 40%;
    margin-top: 20;
    border-radius: 3em;
    align-items: center;
}


.popular>hr{
    color:black;
    display: block;
    margin-bottom: 0.4em;
    margin-left: 35%;
    margin-right: 50%;
    border-style: inset;
    border-width: 3px;
}
.section {
    height:350px;
    width: 300px;
    margin-left: 10px;
    border-radius: 20px;

}

.trend{
    color:#c2a525;
}


.popular>h1{
    text-align: center;
    color:black;
    padding: 0.4em;
    margin-top: 0.5em;
}
.hr {
    padding-right: 800x;
    align-items: center;
}

.pop h1 {
    padding-left: 380px;
    padding-top: 70px;
}



.grid-container2{
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: space-evenly;
    align-content: center;
}



.griditem21{
    height: 8.25em;
    width: 12.25em;
    object-fit: cover;
}



.griditem21>.img21{
    object-fit: cover;
}



.griditem22{
    background-color: aqua;
    height: 8.25em;
    width: 12.25em;
    object-fit: cover;
}



.griditem23{
    height: 8.25em;
    width: 12.25em;
    object-fit: cover;
}



.griditem24{
    background-color: lightgray;
    height: 7.25em;
    width: 12.25em;
}




.griditem25{
    background-color: lightgray;
    height: 7.25em;
    width: 12.25em;
}



.griditem26{
    background-color: lightgray;
    height: 7.25em;
    width: 12.25em;
}



.today{
    height: 25.753em;
    background-color: rgba(0, 0, 0, 0.801);
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.today>h1{
    text-align: center;
    padding: 0.7em;
    color: #c2a525;
}

.section2 {
    height:500px;
    width: 300px;
    margin-left: 10px;
}

.aside>.feat::before{
    content: "";
    background-color: black;
    width: 10em;
    height: 0.5em;
    position: absolute;
    left: 40%;
    margin-top: 20;
    border-radius: 3em;
    align-items: center;
}


.grid-container3{
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: space-around;
}



.griditem31{
    background-color: aqua;
    height: 8.25em;
    width: 12.25em;
}
.today>.tod::before{
    content: "";
    background-color:#c2a525;
    width: 10em;
    height: 0.5em;
    position: absolute;
    left: 40%;
    margin-top: 20;
    border-radius: 3em;
    align-items: center;
}

@media only screen and (max-width:800px) {
    body {
        width: 600px;
    }
    .features {
        width: 1000px;
    }
    .today {
        width: 1000px;
    }
    .popular {
        width: 1000px;
    }
}








