
*{
    font-size: 24px;
    font-family: 'Inter',sans-serif;
}
body{
    background-color: black;


}
#navbar{
    color: #c2a525;
    
}
#navbar ul{
    display: flex;
    margin-left: 10%;
}
#navbar ul li{
    list-style-type: none;
    margin-left: 10%;
}
.hero{
    background-image: url(../image/bg-image.png);
    width: 100%;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.headerBox{
    border-bottom: 0.232em solid black;
    border-top: 0.233em solid black;
    margin: 1em;
}
.headerBox h1{
    color: white;
    text-align: center;
    letter-spacing: .212em;
    text-transform: uppercase;
    -webkit-text-stroke: .011em black;

}
.header button{
    padding: 0.82em ;
    width: 8em;
    background-color: #c2a525;
    border: none;
    border-radius: 0.524em;
    
    
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #c2a525;
}

a:hover{
    border-bottom: 2px solid #c2a525;
}
/* a:visited{
    color: #867f5c;
} */


.offer {

    display: flex;
    justify-content: center;
    padding-bottom: 1.6em;
    
}
#specialOffer{
    border-bottom: 0.232em solid #c2a525;
    border-top: 0.233em solid black;
    margin: 1em;
    
}
.offer button{
    margin-left: 10%;
    width: 12.5em;
    height:12.5em;
    border:4px solid #c2a525;
    border-radius: 30px;
  
}
.offer>button>img{
    width:10.4em;
    height:8.4em;
    border-radius: 1.25em 1.25em 0 0;
    margin-top: 0.83em;
    
}
#htwo{
    color:#c2a525; 
    text-align:center
}
#plan {
    color: azure;
    padding: 0.83em;
    background-color: black;
    margin-top: 3.33em;
    margin-bottom: 1.6em; 
    border-radius: 1.1em;  
}


#package{
    display: flex;
    justify-content: space-around;
    background-color: #c2a525;
    margin-top: 0em;


}
#plan button{
    background-color: #c2a525;
    border-radius: 10px;
    border: none;
}
#plan1{
    background-color: #c2a525;
    
}
#planHead{
    color:azure;
    text-align: center;
    padding-top: 1.0em;

}
#aboutUs{
    color: #c2a525;
    display: flex;
    margin-bottom: 20px;
}
#aboutUs img{
    padding: 40px;
    width: 250px;
    height:200px;
    border-radius: 30px;
}
#aboutUs p{
    padding: 40px;
    line-height: 1.5em;
}
#us{
    color: azure;
    text-align: center;
    border-top: 3px white;
}
#social a{
    color: black;
    text-decoration: none;
    padding: 20px;
    
}
#social{
    display: flex;
    margin-left: 40%;
    
}
#form{
    margin-top: 50px;
    margin-left:40%
    
}
#footer{
    background-color: #c2a525;
    border-radius: 30px;
    padding-top: 1.7em;
    
} 
#contact{
    color: white;
    text-align: center;
    /* margin-left: 50px; */

    

}
#name,#email,#number{
    border-radius: 20px;
    margin: 3px;
    padding: 10px;

}
#text{
    padding:20px;
    border-radius: 10px;
}
#submit{
    margin-top: 20px;
    background-color: black;
    color:#FFAC12;
    padding: 15px;
    width: 300px;
    border-top-right-radius: 30px;
}
